body {
  background-color: aquamarine;
  font-family: "Merriweather", serif;
  font-style: italic;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 1.5;
  color: blueviolet;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

.mood-example {
  padding: 15px 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}
form {
  display: flex;
}

.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}
a {
  color: blueviolet;
}

a:hover {
  color: #f70776;
}

.instruction {
  padding: 16px;
  border: 1px solid grey;
  width: 80%;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.button {
  border-radius: 10px;
  background-color: palevioletred;
  border: none;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.button:hover {
  color: white;
  background: #f48db4;
}
.mood {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid palevioletred;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
